body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(17,17,17);
   
   }
   #slider img {
    width: 100%;
    height: 100%;
  
  
  
 }
 #slider  .img-35{
     position: relative;
     
 }
 img.img-15 {
     position: relative;
     top: -538px;
 }
 img.img-25 {
     position: relative;
     top: -1077px;
 }
    
 


img.img-2 { /*logo Gabriel Teles png*/
    margin-top: ;

}
img.img-3 {/* botton face*/
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 50%;
    border-bottom-right-radius: 40% ;
}
img.img-3:hover {
    background-color: royalblue;
}
img.img-4 {/*botton insta*/
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 50%;
    border-bottom-right-radius: 40% ;
}
img.img-4:hover {
    background-color: saddlebrown;
}
div.botton {
    margin-left: 200%;
    margin-top: -10%;
    padding-top: 9px;
    
    
}

div#texto {
    position: absolute;
    margin-left: 10%;
    margin-top: -117.8%;
    
}
nav { 
    width: 36%;
    width: calc(80.47% + 25px);
    margin-left: -15px; 
    margin-bottom: 1px;
    }
ul li {
        list-style: none;
        display:inline;}
    ul li a {
            float: left;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            border-right:px solid #111; 
            padding: 14px 21px;  
            color: #cecece;
            background: rgb(48, 47, 47);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border-top-left-radius: 70%;
            border-bottom-right-radius: 50% ;
            -webkit-transition: .4s ease-in-out;
           
        }
        ul li:last-child a {
            border: none;
        }
        ul li a:hover, .corrente {
            color:rgb(7, 7, 7);
            background:rgb(95, 95, 95);
            transition: 0.7s;
        }


div.corpo {
   
width: 1210px;
height: 380px;
    /*background: rgb(7,7,7);*/
    margin-left: 5%;
    margin-top: -80%;
    box-shadow: 0 px px px rgb(32, 32, 32);
}
h3 {
    color: #cecece;
    margin-top: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p.p-1 {
    color: #cecece;
    margin-top: 20px;
    margin-left: 26%;
}

p {
    color: #cecece;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.gabri30 { /*foto de centro*/
    margin-left: 38%;
    margin-top: 8%;
   
}
img.img-30 {
    width: 300px;
    height: 450px;
    box-shadow: 0px 0px 5px 5px #08080a;
    -webkit-transition: 0.4s ease-in-out;
   
}
.btn-30:hover .img-30 {
    transform: scale(1.3);
}

div.gabri20 {
    margin-left: 5%;
    margin-top: -37.5%;
}
img.img-20 {/*foto das extremidades*/
    width: 300px;
    height: 450px;
    box-shadow: 0px 0px 5px 5px #08080a;
    -webkit-transition: .4s ease-in-out;
}
.btn-20:hover .img-20 {
     transform: scale(1.3);
}


div.gabri10 {
    margin-left: 71%;
    margin-top: -37.6%;
}
img.img-10 {/*fotos das extremidades*/
    width: 300px;
    height: 450px;
    box-shadow: 0px 0px 5px 5px #08080a;
    -webkit-transition: .4s ease-in-out;
}
.btn-10:hover .img-10 {
    transform: scale(1.3);
}

div.footer {
    background-color: #000000;
    margin-top: 30%;
    width: 100%;
    height: 275px;
    
    
}
div.botton-footer {
  width: 250px;
  height: 75px;
  text-align: center;
  padding: 22px;
  margin-left: 40%;
  margin-top: px;
  
}
h5 {
    color: #cecece;
    padding-top:2% ;
    margin-left: 41.5%;
   
   width: 250px;
   text-align: center;
   height: -25px;
   margin-top:110px;
   border-top:1px solid #cecece
}
div.contatos {/*footer*/
    width: 195px;
    height: 30px;
    margin-top: -7%;
    margin-left: 35px;
    border-bottom: 1px solid #cecece;
   
}
hr {
    margin-top: -5%;
    width: 390px;
    height: 1px;
    margin-left: 36%;
}
/*===================================================================*/
@media(max-width:360px) and (orientation:portrait){
    #slider img {
        width: 1250px;
         height: 533px;
         margin-left: %;
    }
    
    #slider.img-35{
        top: 500px;
        position: relative;
        width: 2250px;
        height: 533px;
    }
    img.img-35{
        margin-left: 0%;
        width: 1850px;
        height: 533px;
    }
     img.img-15 {
        position: relative;
        top: -536.45px;
        width: 1850px;
        height: 533px;
        margin-left: 0%;
         
     }
     img.img-25 {
         position: relative;
         width: 1850px;
         height: 533px;
         top: -1073.45px;
         margin-left: 0%;
    }
     img.img-2 { /*logo Gabriel Teles png**/
        position: relative;
        margin-top:-40% ;
        margin-left: 8%;
    
    }
    div#texto {
        
        position: absolute;
        margin-left: 10%;
        margin-top: -400%;
        
    }
   
    
    nav { 
        width: 36%;
        width: calc(80.47% + 25px);
        width: 1200px;
        height: 150px;
       
        margin-left: -20px; 
        margin-top: 70%;
        margin-bottom: 1px;
        position: absolute;
        
    
        }
        ul li a {
            float: left;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            border-right:px solid #111; 
            padding: 47px 57px;  
            color: #cecece;
            background: rgb(48, 47, 47);
            font:35pt sans-serif;
            border-top-left-radius: 70%;
            border-bottom-right-radius: 50% ;
            -webkit-transition: .4s ease-in-out;
           
        }
        div.botton {
           
            margin-left: 7%;
            margin-top: 2%;
            padding-top:  2px;
            width: 400px;
        }
        img.img-3 {/* botton face*/
            background-color: rgb(0, 0, 0);
            border-top-left-radius: 50%;
            border-bottom-right-radius: 40% ;
            width: 100px;
            height: 100px;
            padding: 15px 15px;
        }
        img.img-4 {/*botton insta*/
            background-color: rgb(0, 0, 0);
            border-top-left-radius: 50%;
            border-bottom-right-radius: 40% ;
            width: 100px;
            height: 100px;
            padding: 15px 15px;
        }
        div.corpo {
            width: 1210px;
            height: 2900px;
                /*background: rgb(7,7,7);*/
            margin-left: 5%;
            margin-top: -250%;
            box-shadow: 0 px px px rgb(32, 32, 32);
            }
            h3 {
                color: #cecece;
                margin-top: 46px;
                text-align: center;
                font: 28pt sans-serif;
            }
            p.p-1 {
                color: #cecece;
                margin-top: 46px;
                margin-left: 12%;
                font: 28pt sans-serif;
                
            }
            
            p {
                color: #cecece;
                margin-top: 5px;
                font: 18pt sans-serif;
            }
           
            img.img-10 {/*fotos das extremidades*/
                position: relative;
                width: 750px;
                height: 1125px;
                margin-top: -2%;
                margin-left: -180%;
                box-shadow: 0px 0px 5px 5px #08080a;
                -webkit-transition: .4s ease-in-out;
            }
            div.gabri20 {
                margin-left: 55%;
                margin-top: -37.5%;
            }
            img.img-20 {/*foto das extremidades*/
                position: absolute;
                width: 750px;
                height: 1125px;
                margin-top: -560%;
                margin-left: -120%;
                box-shadow: 0px 0px 5px 5px #08080a;
                -webkit-transition: .4s ease-in-out;
            }
            div.gabri30 { /*foto de centro*/
                margin-left: 38%;
                margin-top: 8%;
               
            }
            img.img-30 {
                position: relative;
                width: 750px;
                height: 1125px;
                margin-top: 190%;
                margin-left: -30%;
                box-shadow: 0px 0px 5px 5px #08080a;
                -webkit-transition: 0.4s ease-in-out;
               
            }
div.gabri10 {
            margin-left: 71%;
            margin-top: 57.6%;
        }
        div.footer {
            position: relative;
            background-color: #000000;
            margin-top: 450%;
            width: 1250px;
            height: 475px;
            
            
        }
        div.botton-footer {
            position: relative;
           
          width: 400px;
          height: 180px;
          text-align: center;
          padding: 22px;
          margin-left: 33%;
          margin-top: -45px;
          
        }
        h5 {
            color: #cecece;
            padding-top:2% ;
            margin-left: 17.5%;
           font: 30pt sans-serif;
           width: 850px;
           text-align: center;
           height: -25px;
           margin-top:110px;
           border-top:1px solid #cecece
        }

}



